<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.camdroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
	
    <application
        android:name="app.camdroid.CamdroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="app.camdroid.ui.StreamingActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.Streaming" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.camdroid.ui.ActivityHandler"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                <activity
            android:name="app.camdroid.ui.CameraAct"
            android:label="Image Capture"
            android:screenOrientation="landscape"
             >
            <intent-filter>
                <action android:name="android.intent.action.CAMERA" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.camdroid.ui.UploadImage"
            android:label="Image Capture"
            android:screenOrientation="landscape"
             >
            <intent-filter>
                <action android:name="android.intent.action.ImageUpload" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.camdroid.ui.VideoCapture"
            android:label="Image Capture"
            android:screenOrientation="landscape"
             >
            <intent-filter>
                <action android:name="android.intent.action.VIDEO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.camdroid.ui.VideoUpload"
            android:label="Image Capture"
            android:screenOrientation="landscape"
             >
            <intent-filter>
                <action android:name="android.intent.action.VIDEOUPLOAD" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service android:name="app.camdroid.api.CustomHttpServer"/>
        <service android:name="app.camdroid.api.CustomRtspServer"/>
        
    </application>

</manifest>